.home {
    display: flex;
}

.productContainer {
    display: flex;
    width: 78%;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.filters {
    background-color: #343a40;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    height: 80vh;
    border-radius: 20px;
}   

.filters > span {
    padding-bottom: 20px;
}

.title {
    font-size: 30px;
}

.products {
    width: 30%;
    margin: 10px;
    
}

.cartitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    margin-bottom: 20px;

}

.card {
    border-radius: 20px !important;
    box-shadow: 10px 1px 25px;
}

.card-img,
.card-img-top {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.cartItemImg {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.cartItemDetail {
    display: flex;
    flex: 1;
    padding: 0 20px;
    flex-direction: column;
}

.summary {
    width: 30%;
}


.formContainer {
    margin-top: 20px;

}

.card-input {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
}

.pay-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (max-width: 771px) {
    .filters {
        width: 40%;
        padding: 10px;
        margin: 5px;
    }

    .filters > span {
        font-size: 10px;
    }

    .title {
        font-size: 18px !important; 
    }

    .productContainer {
        width: 58%;
        padding: 0;
    }

    .search {
        display: none !important;
    }

    .products {
        width: 100%;
    }

}